.message-page {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.messages {
    background: var(--chakra-colors-gray-100);
    margin-bottom: 10px;
    padding: 15px;
    border-radius: var(--chakra-radii-md);
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.message-page .message-area {
    flex: 0 1 auto;
}

.message-page .messages-header {
    flex: 0 1 auto;
    background: var(--chakra-colors-gray-200);
    border-radius: var(--chakra-radii-md);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    padding: 15px;
}

.messages .message {
    margin: 0 0 8px 18px;
    text-indent: -18px;
}

.messages .message:last-child {
    margin-bottom: 0;
}

.message p {
    width: fit-content;
}

#text-field {
    font-size: var(--chakra-fontSizes-md);
    background: var(--chakra-colors-gray-100);
}

#message-submit-button {
    background: none;
    color: var(--chakra-colors-gray-500)
}

#message-submit-button:hover {
    background: var(--chakra-colors-green-400);
    color: white;
}