html,
body,
#root {
  height: 100%;
  margin: 0;
}

.page-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.page-container nav {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
*/
}

.page-container main {
    flex: 1 1 auto;
}

.page-container footer {
    flex: 0 1 40px;
}