html,
body,
#root {
  height: 100%;
  margin: 0;
}

.page-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.page-container nav {
    flex: 0 1 auto;
}

.page-container main {
    flex: 1 1 auto;
}

.page-container footer {
    flex: 0 1 40px;
}

.page-content {
    background: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.background {
    background-image: url("/realestate-background.jpg");
    filter: blur(8px);
    height: 100%;
    background-size: cover;
    width: 100%;
    z-index: -2;
    position: fixed;
    transform: scale(1.22);
    overflow: hidden;
}